@model CarreraDulantoEPCTDSII.Models.Entidades.ValesDetCarrera

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>ValesDetCarrera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValesCab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdvalesCab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdArticulo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdValesDet">Edit</a> |
    <a asp-action="ListadoVCarrera">Back to List</a>
</div>
